<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/turtle-shelter-logo.png" />
    <title>Turtle Shelter Project</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <a href="/">TURTLE SHELTER<br><b></b>PROJECT</a>
            </div>
            <div class="nav-links">
                <a href="/" class="nav-link">Home</a>
                <a href="/jen" class="nav-link">Jen</a>
                <a href="/donate" class="nav-link">Donate</a>
                
                <div class="dropdown">
                    <button class="dropbtn">How you can help</button>
                    <div class="dropdown-content">
                        <a href="/teammember">Become a Team Member!</a>
                        <a href="/difference">You can make a difference</a>
                        <a href="/partner">Become a partner or sponsor</a>
                        <a href="/volunteer">Participate in an event</a>
                        <a href="/hostEvent">Host your own event</a>
                        <a href="/accomplishments">What has been accomplished</a>
                    </div>
                </div>
                
                <a href="/login" class="nav-link" <% if (session && session.userId) { %> style="display: none;" <% } %>>Login</a>
                
                <% if (session && session.userId && session.role === 'admin') { %>
                    <a href="/requested-events" class="nav-link">Requested Events</a>
                <% } %>

                <% if (session && session.userId) { %>
                    <a href="/usersettings" class="nav-link">Settings</a>
                <% } %>
            </div>
        </div>
    </nav>
</body>
</html>