<!DOCTYPE html>
<html lang="en">
<%- include('partials/navbar') %>
<body class="jen-page">
    <section class="hero">
    </section>

    <section id="about" class="about-section">
        <div class="about-container">
            <div class="about-item">
                <img src="/Jen.png" alt="Turtle Shelter Project Mission">
                <div class="about-text">
                    <h2>Jen's Story</h2>
                    <p>My addiction led me to being homeless on several occasions throughout my life, and during that time I personally knew seven people who froze to death. When I first learned about this lifesaving technology, my mind flooded with ideas on how many people's lives this could save. I'd recently been homeless during an extreme winter. It had been one of the coldest winters Utah had suffered in a long time, so the misery of surviving the bitter cold was still very fresh in my mind.<br><br>

                        While I was homeless I remember feeling the chill all the way to my bones. I couldn't even think or function. It completely zapped me of my energy so much that I was losing my will to live. Everything felt beyond overwhelming. Simple tasks, like finding a bathroom, seemed to feel like huge obstacles. The crazy thing about it was: I had a car I was living in; I had a storage unit I could hang out in during the day and at night; and I had an income that was sufficient for my needs. But being homeless completely broke me - even with all of the resources I had available to me.</p>
                </div>
            </div>
            <!-- Add more about items as needed -->
        </div>
    </section>
</body>
</html>